{{- if eq .chezmoi.hostname "fennec" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFaC3rJ6y+fevScQ1GZ82MABZigsw7i5NFvlEO3gzqUt oskar@fennec
{{- else if eq .chezmoi.hostname "minifennec" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPxA8DwQAR1E0dIENe34fSi7qyyH0jjicOijZ1osbhOK oskar@minifennec
{{- else if eq .chezmoi.hostname "panda" -}}
ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILwTbsAuYVWPv4CHIA15F7dSIpcWssIqGReIMDbWuzYA oskar@panda
{{- end }}
