#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pocket Casts
Exec=/opt/wavebox.io/wavebox/wavebox-launcher --profile-directory=Default --app-id=dcdmjjcnpjinohincjmiiknckmhdkhba
Icon=pocketcasts
StartupWMClass=pocketcasts
