--password-store=detect
--enable-features=AcceleratedVideoDecodeLinuxZeroCopyGL,TouchpadOverscrollHistoryNavigation,VaapiVideoDecoder,VaapiIgnoreDriverChecks,Vulkan,DefaultANGLEVulkan,VulkanFromANGLE,VaapiVideoDecodeLinuxGL,VaapiIgnoreDriverChecks,VaapiVideoDecoder
--enable-gpu-rasterization
--ignore-gpu-blocklist
--enable-zero-copy
{{- if .mobile }}
--device-scale-factor=1.1
{{- end }}
