[Desktop Entry]
Comment[en_GB]=Automatic Theme Switcher
Comment=Automatic Theme Switcher
Exec=/home/oskar/.local/bin/auto-knight
GenericName[en_GB]=
GenericName=
MimeType=
Name[en_GB]=Auto-Knight
Name=Auto-Knight
NoDisplay=true
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
